html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1 REM = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-weight: 500;
    margin: 0;
}


/* 1. Pictures Products*/

.container-photos {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
}

.model {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center center;
    scroll-snap-align: start;
}

.model3 {
    background-image: url(images/Model3.jpeg);
}

.models {
    background-image: url(images/ModelS.jpeg);
}

.modelx {
    background-image: url(images/ModelX.jpeg);
}


/* 2. Product*/

.product {
    position: fixed;
}


/* 2.1 Nav */

.logo {
    position: fixed;
    left: 1rem;
    top: 2rem;
    width: 10rem;
    height: 1.2rem;
    margin-left: 2%;
    font-size: 45rem;
}

.menu {
    position: fixed;
    right: 1rem;
    top: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: #181A21;
    background-color: #4e545834;
    padding: 0.8rem 1.2rem;
}


/* 2.2 Title and delivery */

.container-title {
    position: fixed;
    top: 16%;
    width: 100%;
}

.model-name {
    color: #3A3D42;
    font-weight: 500;
    font-size: 3.6rem;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 3rem;
}

.model-order {
    font-size: 1.4rem;
    font-weight: 400;
    color: #5C5C61;
    text-align: center;
    margin-top: 1rem;
    left: 1rem;
    right: 1rem;
}

.model-order a {
    color: #5C5C61;
    text-underline-position: under;
}


/* 2.3 Clean space */

.space {
    height: 100%;
}


/* 2.4 Buttons */

.btn {
    text-align: center;
    padding: 1.4rem;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.12rem;
    border-radius: 2rem;
    left: 2rem;
    right: 2rem;
    position: fixed;
}

.custom-order {
    color: white;
    background-color: #35373B;
    bottom: 17rem;
}

.existing-inventory {
    color: #3A3D42;
    background-color: #E3E3E3;
    margin-top: 1rem;
    bottom: 11.5rem;
}