html {
    box-sizing: border-box;
    font-size: 62.5%;
    /*1 REM = 10px*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-weight: 500;
    margin: 0;
}


/* 1. Pictures Products*/

.container-photos {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;
}

.model {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-position: center center;
    scroll-snap-align: start;
}

.model3 {
    background-image: url(images/Model3.jpeg);
}

.models {
    background-image: url(images/ModelS.jpeg);
}

.modelx {
    background-image: url(images/ModelX.jpeg);
}


/* 2. Product*/

.product {
    position: fixed;
}


/* 2.1 Nav */

.nav-principal {
    position: fixed;
    right: 2rem;
    top: 2rem;
    left: 2rem;
    display: flex;
    justify-content: space-between;
    height: 3.2rem;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.img-logo {
    width: 10rem;
}

.nav-products {
    display: none;
}

@media (min-width:1200px) {
    .nav-products {
        display: flex;
        justify-content: space-between;
    }
}

.nav-options {
    display: none;
}

@media (min-width:1200px) {
    .nav-options {
        display: flex;
    }
}

.nav-format {
    text-decoration: none;
    color: #181A21;
    padding: 0.8rem 1.2rem;
}

.menu {
    background-color: #4e545834;
    border-radius: 1rem;
    text-decoration: none;
    color: #181A21;
    padding: 0.8rem 1.2rem;
}

@media(min-width:1200px) {
    .menu {
        display: none;
    }
}


/* 2.2 Title and delivery */

.container-title {
    position: fixed;
    top: 16%;
    width: 100%;
}

.model-name {
    color: #3A3D42;
    font-weight: 500;
    font-size: 3.6rem;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 3rem;
}

.model-order {
    font-size: 1.4rem;
    font-weight: 400;
    color: #5C5C61;
    text-align: center;
    margin-top: 1rem;
    left: 1rem;
    right: 1rem;
}

.model-order a {
    color: #5C5C61;
    text-underline-position: under;
}


/* 2.3 Clean space */

.space {
    height: 100%;
}


/* 2.4 Buttons */

.container-buttons {
    position: fixed;
    left: 2rem;
    right: 3.5rem;
    bottom: 10rem;
    display: flex;
    flex-direction: column;
}

.btn {
    text-align: center;
    padding: 1.4rem;
    margin-bottom: 1.6rem;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.12rem;
    border-radius: 2rem;
    left: 1rem;
    right: 1rem;
}

@media (min-width:648px) {
    .container-buttons {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        bottom: 10rem;
    }
    .btn {
        width: 260px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.custom-order {
    color: white;
    background-color: #35373B;
}

.existing-inventory {
    color: #3A3D42;
    background-color: #E3E3E3;
}